<div id="user" class="transitions-enabled">
<% @users.each do |user| %>
  <div class="box" panel panel-default">

    <div class="panel-body">
      <%= user.name %><br/>
      <%= user.email %><br/>
    </div>
  </div>
 <% end %>
</div>